# apple desktop services storage
.DS_Store
# python virtual environment
venv/
# JetBrains .idea stuff
.idea
*.iml
# visual studio code
.vscode

## compiled C++ ##
cmake-build-files

## compiled Java ##
*.class
